.title {
    display: grid;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.nav {
    display: grid;
    padding: 0;
    margin: 0;
    justify-content: center;
}
/*top, right, bottom, left*/
.body {
    display: flex;
    padding: 0;
    margin-top: 40px;
    justify-content: center;
}
.gambar-biodata {
	padding: 20px;
}
.text-biodata {
	padding: 20px;
}

