<!DOCTYPE html>
<html lang="en" xlmns:th="http://thymeleaf.org">

<head>
	<title>Add From Variant</title>
</head>

<body>
	<h1>Form Variant</h1>
	<form th:action="@{/variant/save}" method="post" th:object="${variant}">
		<input type="hidden" th:field="*{id}">
		<table border="1">
			<tr>
				<td> Category Name</td>
				<td>
					<select th:field="*{categoryId}">
						<option th:each="item:${listCategory}" th:text="${item.categoryName}" th:value="${item.id}"></option>
					</select>
				</td>
					
			</tr>
			<tr>
				<td>Variant Initial</td>
				<td><input type="text" name="variantinitial" th:field="*{variantInitial}"></td>
			</tr>
			<tr>
				<td>Variant Name</td>
				<td><input type="text" name="variantname" th:field="*{variantName}"></td>
			</tr>
			<tr>
				<td>Active</td>
				<td><input type="checkbox" name="isactive" th:field="*{isActive}"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Save"></td>
			</tr>
		</table>
	</form>
</body>

</html>